<div class="row">
    <div class="col-md-3 mb-4">
        <div class="card text-bg-primary h-100">
            <div class="card-body">
                <h5 class="card-title"><%= movieCount %></h5>
                <p class="card-text">Tổng số phim</p>
            </div>
        </div>
    </div>
     <div class="col-md-3 mb-4">
        <div class="card text-bg-success h-100">
            <div class="card-body">
                <h5 class="card-title"><%= categoryCount %></h5>
                <p class="card-text">Tổng số thể loại</p>
            </div>
        </div>
    </div>
     <div class="col-md-3 mb-4">
        <div class="card text-bg-warning h-100">
            <div class="card-body">
                <h5 class="card-title"><%= countryCount %></h5>
                <p class="card-text">Tổng số quốc gia</p>
            </div>
        </div>
    </div>
     <div class="col-md-3 mb-4">
        <div class="card text-bg-info h-100">
            <div class="card-body">
                <h5 class="card-title"><%= userCount %></h5>
                <p class="card-text">Tổng số người dùng</p>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Phim mới cập nhật
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <% latestMovies.forEach(movie => { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="/phim/<%= movie.slug %>" target="_blank"><%= movie.name %></a>
                    <small><%= new Date(movie.modified_at).toLocaleDateString('vi-VN') %></small>
                </li>
            <% }) %>
        </ul>
    </div>
</div>